{% extends 'dashboard.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Orders</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Code</th>
                <th>Products</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
        {% set counter=1 %}
        {% for order in orders %}
            {% set arrC=0 %}
            
            <tr>
                <td>{{ counter }}</td>
                <td>{{ order.code }}</td>
                <td>
                    {% for product in order.products %}
                        {{ product.name }} --- {{ order.counts[arrC] }} |
                        
                        {% set arrC=arrC+1 %}
                    {% endfor %}
                </td>
                <td>{{ order.totalPrice }}$</td>
            </tr>
            
            {% set counter=counter+1 %}
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
